@model IEnumerable<WebShop_Random.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_them1.cshtml";
}


@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@item.ImageFeature" alt="" />
                    <h2>@item.Price</h2>
                    <p>@item.Name</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@item.Price</h2>
                        <p>@item.Name</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li>@Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn btn-defaut" });</li>
                    <li>@Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn btn-defaut" });</li>

                </ul>
            </div>
        </div>
    </div>
}


